/*.bin
/*.mode
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-ita.pc
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/install-sh
/ita.autogen.att.gz
/ita.automorf.att.gz
/missing
/modes
/.deps
/i_to_p.awk
/inline_e.awk
/sustituye_caracteres.awk
