* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-ita.ita.acx -text
/apertium-ita.ita.dix -text
/apertium-ita.ita.rlx -text
/apertium-ita.ita.tsx -text svneol=unset#application/xml
/apertium-ita.pc.in -text
/apertium-ita.post-ita.dix -text
/autogen.sh -text
/configure.ac -text
/ita.prob -text
/modes.xml -text svneol=unset#application/xml
